.square{
width: 50px;
height: 50px;
border: 1px black solid;
position: absolute;
}

#tileset{
    position: absolute;
    top: 50px;
    left:50px;
}


.wall{
    background-color: lightgreen;
}

.enemy{
    background-color: red;
}

.treasure{
    background-color: blue;
}

.light{
    background-color: yellow;
}

.tiletype-button{
    border: 0px black solid;
}

.selected{
    border: 2px solid black;
}
#danemapy{
    position: absolute;
    left:650px;
    top: 50px;
    width: 300px;
    height: 500px;
}
h1{
    text-align: center;
}
#menu-start{
    text-align: center;
    margin: auto;
}
#editor-button, #game-button{
    width: 200px;
    height: 100px;
    background-color: rgb(39, 77, 133);
}
body{
    background-color: rgb(97, 8, 25);
}
#tileset{
    width: 500px;
    height: 500px;
    background-color: white;
}