html,
body {
    padding: 0;
    margin: 0
}

h1 {
    position: absolute;
    color: blue;
    margin-left: 16px;
}

#stats {
    position: absolute;
    margin-left: 16px;
    top: 70px;
}

#controls {
    position: absolute;
    margin-left: 16px;
    bottom: 70px;
}

#stats,
#controls {
    background-color: gainsboro;
    padding: 4px;
    border-radius: 4px;
}
